In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

# `pyjanitor`: Clean APIs for cleaning data

Eric J. Ma

SciPy 2019

# Hello 👋👋

In [ ]:
username = "ericmjl"
twitter = f"@{username}"
website = f"{username}.github.io"

In [2]:
print(f"Twitter: {twitter}")
print(f"Website: {website}")

Twitter: @ericmjl
Website: ericmjl.github.io

# Data

## Wrangling data takes time

What fraction of time do *you* spend on data cleaning?

## Wrangling messy data can sometimes mean messy code

In [81]:
import pandas as pd
from pyprojroot import here

df = pd.read_excel(here() / "examples/notebooks/dirty_data.xlsx")
df

# First problem: empty columns and rows

,First Name,Last Name,Employee Status,Subject,Hire Date,% Allocated,Full time?,do not edit! --->,Certification,Certification.1,Certification.2
0,Jason,Bourne,Teacher,PE,39690.0,0.75,Yes,NaN,Physical ed,Theater,NaN
1,Jason,Bourne,Teacher,Drafting,39690.0,0.25,Yes,NaN,Physical ed,Theater,NaN
2,Alicia,Keys,Teacher,Music,37118.0,1.00,Yes,NaN,Instr. music,Vocal music,NaN
3,Ada,Lovelace,Teacher,NaN,27515.0,1.00,Yes,NaN,PENDING,Computers,NaN
4,Desus,Nice,Administration,Dean,41431.0,1.00,Yes,NaN,PENDING,NaN,NaN
5,Chien-Shiung,Wu,Teacher,Physics,11037.0,0.50,Yes,NaN,Science 6-12,Physics,NaN
6,Chien-Shiung,Wu,Teacher,Chemistry,11037.0,0.50,Yes,NaN,Science 6-12,Physics,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,James,Joyce,Teacher,English,32994.0,0.50,No,NaN,NaN,English 6-12,NaN
9,Hedy,Lamarr,Teacher,Science,27919.0,0.50,No,NaN,PENDING,NaN,NaN
10,Carlos,Boozer,Coach,Basketball,42221.0,NaN,No,NaN,Physical ed,NaN,NaN
11,Young,Boozer,Coach,NaN,34700.0,NaN,No,NaN,NaN,Political sci.,NaN
12,Micheal,Larsen,Teacher,English,40071.0,0.80,No,NaN,Vocal music,English,NaN

In [82]:
# Remove the empty column and empty row
df = (
    df
    .drop("do not edit! --->", axis=1)
    .drop(7, axis=0)
)
df

# Next problem: columns are not standardized

,First Name,Last Name,Employee Status,Subject,Hire Date,% Allocated,Full time?,Certification,Certification.1,Certification.2
0,Jason,Bourne,Teacher,PE,39690.0,0.75,Yes,Physical ed,Theater,NaN
1,Jason,Bourne,Teacher,Drafting,39690.0,0.25,Yes,Physical ed,Theater,NaN
2,Alicia,Keys,Teacher,Music,37118.0,1.00,Yes,Instr. music,Vocal music,NaN
3,Ada,Lovelace,Teacher,NaN,27515.0,1.00,Yes,PENDING,Computers,NaN
4,Desus,Nice,Administration,Dean,41431.0,1.00,Yes,PENDING,NaN,NaN
5,Chien-Shiung,Wu,Teacher,Physics,11037.0,0.50,Yes,Science 6-12,Physics,NaN
6,Chien-Shiung,Wu,Teacher,Chemistry,11037.0,0.50,Yes,Science 6-12,Physics,NaN
8,James,Joyce,Teacher,English,32994.0,0.50,No,NaN,English 6-12,NaN
9,Hedy,Lamarr,Teacher,Science,27919.0,0.50,No,PENDING,NaN,NaN
10,Carlos,Boozer,Coach,Basketball,42221.0,NaN,No,Physical ed,NaN,NaN
11,Young,Boozer,Coach,NaN,34700.0,NaN,No,NaN,Political sci.,NaN
12,Micheal,Larsen,Teacher,English,40071.0,0.80,No,Vocal music,English,NaN

In [5]:
# Rename columns to something nicer.
df = df.rename(
    mapper={
        "First Name": "first_name",
        "Last Name": "last_name",
        "Employee Status": "employee_status",
        "Subject": "subject",
        "Hire Date": "hire_date",
        "% Allocated": "percentage_allocated",
        "Full time?": "is_full_time",
        "Certification": "certification",
    },
    axis=1
)
df

# Next problem: hire date?!?! Certifications?

,first_name,last_name,employee_status,subject,hire_date,percentage_allocated,is_full_time,certification,Certification.1,Certification.2
0,Jason,Bourne,Teacher,PE,39690.0,0.75,Yes,Physical ed,Theater,NaN
1,Jason,Bourne,Teacher,Drafting,39690.0,0.25,Yes,Physical ed,Theater,NaN
2,Alicia,Keys,Teacher,Music,37118.0,1.00,Yes,Instr. music,Vocal music,NaN
3,Ada,Lovelace,Teacher,NaN,27515.0,1.00,Yes,PENDING,Computers,NaN
4,Desus,Nice,Administration,Dean,41431.0,1.00,Yes,PENDING,NaN,NaN
5,Chien-Shiung,Wu,Teacher,Physics,11037.0,0.50,Yes,Science 6-12,Physics,NaN
6,Chien-Shiung,Wu,Teacher,Chemistry,11037.0,0.50,Yes,Science 6-12,Physics,NaN
8,James,Joyce,Teacher,English,32994.0,0.50,No,NaN,English 6-12,NaN
9,Hedy,Lamarr,Teacher,Science,27919.0,0.50,No,PENDING,NaN,NaN
10,Carlos,Boozer,Coach,Basketball,42221.0,NaN,No,Physical ed,NaN,NaN
11,Young,Boozer,Coach,NaN,34700.0,NaN,No,NaN,Political sci.,NaN
12,Micheal,Larsen,Teacher,English,40071.0,0.80,No,Vocal music,English,NaN

In [6]:
import datetime as dt

# Get the "hire date" into shape.
df["hire_date"] = pd.TimedeltaIndex(df["hire_date"], unit="d") + dt.datetime(
    1899, 12, 30
)

# Those certification columns don't look particularly good.
# Should just have one of them.
df["certification"] = df["certification"].combine_first(df["Certification.1"])
df = df.drop(["Certification.1", "Certification.2"], axis=1)
df

# Next problem: Missing a column

,first_name,last_name,employee_status,subject,hire_date,percentage_allocated,is_full_time,certification
0,Jason,Bourne,Teacher,PE,2008-08-30,0.75,Yes,Physical ed
1,Jason,Bourne,Teacher,Drafting,2008-08-30,0.25,Yes,Physical ed
2,Alicia,Keys,Teacher,Music,2001-08-15,1.00,Yes,Instr. music
3,Ada,Lovelace,Teacher,NaN,1975-05-01,1.00,Yes,PENDING
4,Desus,Nice,Administration,Dean,2013-06-06,1.00,Yes,PENDING
5,Chien-Shiung,Wu,Teacher,Physics,1930-03-20,0.50,Yes,Science 6-12
6,Chien-Shiung,Wu,Teacher,Chemistry,1930-03-20,0.50,Yes,Science 6-12
8,James,Joyce,Teacher,English,1990-05-01,0.50,No,English 6-12
9,Hedy,Lamarr,Teacher,Science,1976-06-08,0.50,No,PENDING
10,Carlos,Boozer,Coach,Basketball,2015-08-05,NaN,No,Physical ed
11,Young,Boozer,Coach,NaN,1995-01-01,NaN,No,Political sci.
12,Micheal,Larsen,Teacher,English,2009-09-15,0.80,No,Vocal music

In [7]:
# Add a column for "gratitude points"
# given by students to the teachers.

gratitude_points = [10, 50, 20, 1000, 392, 115, 12, 182, 1190, 582, 25, 317]

df = df.assign(gratitude_points=gratitude_points)

df

# Next problem: Might want to log-transform.

,first_name,last_name,employee_status,subject,hire_date,percentage_allocated,is_full_time,certification,gratitude_points
0,Jason,Bourne,Teacher,PE,2008-08-30,0.75,Yes,Physical ed,10
1,Jason,Bourne,Teacher,Drafting,2008-08-30,0.25,Yes,Physical ed,50
2,Alicia,Keys,Teacher,Music,2001-08-15,1.00,Yes,Instr. music,20
3,Ada,Lovelace,Teacher,NaN,1975-05-01,1.00,Yes,PENDING,1000
4,Desus,Nice,Administration,Dean,2013-06-06,1.00,Yes,PENDING,392
5,Chien-Shiung,Wu,Teacher,Physics,1930-03-20,0.50,Yes,Science 6-12,115
6,Chien-Shiung,Wu,Teacher,Chemistry,1930-03-20,0.50,Yes,Science 6-12,12
8,James,Joyce,Teacher,English,1990-05-01,0.50,No,English 6-12,182
9,Hedy,Lamarr,Teacher,Science,1976-06-08,0.50,No,PENDING,1190
10,Carlos,Boozer,Coach,Basketball,2015-08-05,NaN,No,Physical ed,582
11,Young,Boozer,Coach,NaN,1995-01-01,NaN,No,Political sci.,25
12,Micheal,Larsen,Teacher,English,2009-09-15,0.80,No,Vocal music,317

In [8]:
import numpy as np

# Finally, log10 transform the gratitude_points column.

df["gratitude_points_log"] = df["gratitude_points"].apply(np.log10)

df

# So what does this code look like in totality?

,first_name,last_name,employee_status,subject,hire_date,percentage_allocated,is_full_time,certification,gratitude_points,gratitude_points_log
0,Jason,Bourne,Teacher,PE,2008-08-30,0.75,Yes,Physical ed,10,1.000000
1,Jason,Bourne,Teacher,Drafting,2008-08-30,0.25,Yes,Physical ed,50,1.698970
2,Alicia,Keys,Teacher,Music,2001-08-15,1.00,Yes,Instr. music,20,1.301030
3,Ada,Lovelace,Teacher,NaN,1975-05-01,1.00,Yes,PENDING,1000,3.000000
4,Desus,Nice,Administration,Dean,2013-06-06,1.00,Yes,PENDING,392,2.593286
5,Chien-Shiung,Wu,Teacher,Physics,1930-03-20,0.50,Yes,Science 6-12,115,2.060698
6,Chien-Shiung,Wu,Teacher,Chemistry,1930-03-20,0.50,Yes,Science 6-12,12,1.079181
8,James,Joyce,Teacher,English,1990-05-01,0.50,No,English 6-12,182,2.260071
9,Hedy,Lamarr,Teacher,Science,1976-06-08,0.50,No,PENDING,1190,3.075547
10,Carlos,Boozer,Coach,Basketball,2015-08-05,NaN,No,Physical ed,582,2.764923
11,Young,Boozer,Coach,NaN,1995-01-01,NaN,No,Political sci.,25,1.397940
12,Micheal,Larsen,Teacher,English,2009-09-15,0.80,No,Vocal music,317,2.501059

In [9]:
df = (
    pd.read_excel("../../examples/notebooks/dirty_data.xlsx")
    # Remove the empty column and empty row
    .drop("do not edit! --->", axis=1)
    .drop(7, axis=0)
    .rename(
        mapper={
            "First Name": "first_name",
            "Last Name": "last_name",
            "Employee Status": "employee_status",
            "Subject": "subject",
            "Hire Date": "hire_date",
            "% Allocated": "percentage_allocated",
            "Full time?": "full_time",
            "Certification": "certification",
        },
        axis=1,
    )
)
# Correct hire date.
df["hire_date"] = pd.TimedeltaIndex(df["hire_date"], unit="d") + dt.datetime(
    1899, 12, 30
)
# Squash certification columns
df["certification"] = df["certification"].combine_first(df["Certification.1"])
df = (
    df.drop(["Certification.1", "Certification.2"], axis=1)
    # Add gratidude points.
    .assign(gratitude_points=gratitude_points)
)
# Log-transform gratitude points.
df["gratitude_points_log"] = df["gratitude_points"].apply(np.log10)

## Key Issues

- `pandas` community idioms are a mix of *imperative* and *fluent* (method-chaining) styles: **we need to standardize interface**

- Repetitive, long chunks of code, but they do perform defined tasks: **refactor into functions**

# There must be a better way

(Raymond Hettinger)

![](https://i.kym-cdn.com/entries/icons/original/000/022/488/c6bf9b08586c241b021dd04c204b7a85.png)

In [10]:
# Yes, the import name is "janitor", 
# but the package is "pyjanitor"

With `pyjanitor`, we can now write code that looks like this:

In [11]:
df = (
    pd.read_excel("../../examples/notebooks/dirty_data.xlsx")
    .remove_empty()
    .clean_names(strip_underscores=True)
    .coalesce(["certification", "certification_1"])
    .convert_excel_date("hire_date")
    .rename_column("%_allocated", "percent_allocated")
    .add_column("gratitude_points", gratitude_points)
    .transform_column("gratitude_points", np.log10, "gratitude_log")
)
df

,first_name,last_name,employee_status,subject,hire_date,percent_allocated,full_time,certification,gratitude_points,gratitude_log
0,Jason,Bourne,Teacher,PE,2008-08-30,0.75,Yes,Physical ed,10,1.000000
1,Jason,Bourne,Teacher,Drafting,2008-08-30,0.25,Yes,Physical ed,50,1.698970
2,Alicia,Keys,Teacher,Music,2001-08-15,1.00,Yes,Instr. music,20,1.301030
3,Ada,Lovelace,Teacher,NaN,1975-05-01,1.00,Yes,PENDING,1000,3.000000
4,Desus,Nice,Administration,Dean,2013-06-06,1.00,Yes,PENDING,392,2.593286
5,Chien-Shiung,Wu,Teacher,Physics,1930-03-20,0.50,Yes,Science 6-12,115,2.060698
6,Chien-Shiung,Wu,Teacher,Chemistry,1930-03-20,0.50,Yes,Science 6-12,12,1.079181
7,James,Joyce,Teacher,English,1990-05-01,0.50,No,English 6-12,182,2.260071
8,Hedy,Lamarr,Teacher,Science,1976-06-08,0.50,No,PENDING,1190,3.075547
9,Carlos,Boozer,Coach,Basketball,2015-08-05,NaN,No,Physical ed,582,2.764923
10,Young,Boozer,Coach,NaN,1995-01-01,NaN,No,Political sci.,25,1.397940
11,Micheal,Larsen,Teacher,English,2009-09-15,0.80,No,Vocal music,317,2.501059

## Key Points

- Don't replace `pandas` API.
- Behave as if native `pandas` API.

![](https://i.kym-cdn.com/entries/icons/original/000/029/717/sorcery.jpg)

![](https://thumbs.dreamstime.com/z/vector-illustration-panda-sitting-ground-cherry-flavor-doughnut-donut-bagel-neck-vector-illustration-cute-119482695.jpg)

## `pandas-flavor`

"The easy way to write your own flavor of Pandas"

## Design Requirements

1. Accept a dataframe as first argument.
1. Makes necessary modifications.
1. Returns the modified dataframe.

```python
@pf.register_dataframe_method
def my_func(df, *args, **kwargs):
    # code that changes dataframe
    return df
```

With better docstrings + tests, this could become part of `pyjanitor`!

In [12]:
from functools import partial

import pandas_flavor as pf


@pf.register_dataframe_method
def log_transform(df, column_name, base, dest_column_name=None):
    """
    Log-transforms the supplied column.
    """
    def _log_base(x, base):
        return np.log10(x) / np.log10(base)

    _log_base_func = partial(_log_base, base=base)
    return df.transform_column(
        column_name=column_name, 
        function=_log_base_func, 
        dest_column_name=dest_column_name
    )

In [14]:
df.log_transform("gratitude_points", base=5, dest_column_name="gratitude_base5")

,first_name,last_name,employee_status,subject,hire_date,percent_allocated,full_time,certification,gratitude_points,gratitude_log,gratitude_base5
0,Jason,Bourne,Teacher,PE,2008-08-30,0.75,Yes,Physical ed,10,1.000000,1.430677
1,Jason,Bourne,Teacher,Drafting,2008-08-30,0.25,Yes,Physical ed,50,1.698970,2.430677
2,Alicia,Keys,Teacher,Music,2001-08-15,1.00,Yes,Instr. music,20,1.301030,1.861353
3,Ada,Lovelace,Teacher,NaN,1975-05-01,1.00,Yes,PENDING,1000,3.000000,4.292030
4,Desus,Nice,Administration,Dean,2013-06-06,1.00,Yes,PENDING,392,2.593286,3.710154
5,Chien-Shiung,Wu,Teacher,Physics,1930-03-20,0.50,Yes,Science 6-12,115,2.060698,2.948192
6,Chien-Shiung,Wu,Teacher,Chemistry,1930-03-20,0.50,Yes,Science 6-12,12,1.079181,1.543959
7,James,Joyce,Teacher,English,1990-05-01,0.50,No,English 6-12,182,2.260071,3.233431
8,Hedy,Lamarr,Teacher,Science,1976-06-08,0.50,No,PENDING,1190,3.075547,4.400113
9,Carlos,Boozer,Coach,Basketball,2015-08-05,NaN,No,Physical ed,582,2.764923,3.955710
10,Young,Boozer,Coach,NaN,1995-01-01,NaN,No,Political sci.,25,1.397940,2.000000
11,Micheal,Larsen,Teacher,English,2009-09-15,0.80,No,Vocal music,317,2.501059,3.578207

# Lessons Learned

## Lesson 1: Consistent interfaces lower contribution barrier

## and low contribution barriers help build communities

![](./friends.png)

![](./sprints.jpg)

Thanks Lucas!

![](data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjwh%0D%0ALS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPgoK%0D%0APHN2ZwogICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgIHht%0D%0AbG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiCiAgIHhtbG5zOnJkZj0iaHR0%0D%0AcDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIKICAgeG1sbnM6c3ZnPSJo%0D%0AdHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIw%0D%0AMDAvc3ZnIgogICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5l%0D%0AdC9EVEQvc29kaXBvZGktMC5kdGQiCiAgIHhtbG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3Nj%0D%0AYXBlLm9yZy9uYW1lc3BhY2VzL2lua3NjYXBlIgogICB3aWR0aD0iMTcwLjYyMzY3bW0iCiAgIGhl%0D%0AaWdodD0iMTg3LjM1NDQzbW0iCiAgIHZpZXdCb3g9IjAgMCAxNzAuNjIzNjggMTg3LjM1NDQzIgog%0D%0AICB2ZXJzaW9uPSIxLjEiCiAgIGlkPSJzdmczNzk0IgogICBpbmtzY2FwZTp2ZXJzaW9uPSIwLjky%0D%0ALjQgNWRhNjg5YzMxMywgMjAxOS0wMS0xNCIKICAgc29kaXBvZGk6ZG9jbmFtZT0ibG9nby5zdmci%0D%0APgogIDxkZWZzCiAgICAgaWQ9ImRlZnMzNzg4IiAvPgogIDxzb2RpcG9kaTpuYW1lZHZpZXcKICAg%0D%0AICBpZD0iYmFzZSIKICAgICBwYWdlY29sb3I9IiNmZmZmZmYiCiAgICAgYm9yZGVyY29sb3I9IiM2%0D%0ANjY2NjYiCiAgICAgYm9yZGVyb3BhY2l0eT0iMS4wIgogICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5%0D%0APSIwLjAiCiAgICAgaW5rc2NhcGU6cGFnZXNoYWRvdz0iMiIKICAgICBpbmtzY2FwZTp6b29tPSIw%0D%0ALjczMTM5MDI5IgogICAgIGlua3NjYXBlOmN4PSIzNTkuMjgyIgogICAgIGlua3NjYXBlOmN5PSIz%0D%0ANTkuODAxMDUiCiAgICAgaW5rc2NhcGU6ZG9jdW1lbnQtdW5pdHM9Im1tIgogICAgIGlua3NjYXBl%0D%0AOmN1cnJlbnQtbGF5ZXI9ImxheWVyMSIKICAgICBzaG93Z3JpZD0iZmFsc2UiCiAgICAgZml0LW1h%0D%0Acmdpbi10b3A9IjAuOSIKICAgICBmaXQtbWFyZ2luLWxlZnQ9IjAuOSIKICAgICBmaXQtbWFyZ2lu%0D%0ALXJpZ2h0PSIwLjkiCiAgICAgZml0LW1hcmdpbi1ib3R0b209IjAuOSIKICAgICBpbmtzY2FwZTp3%0D%0AaW5kb3ctd2lkdGg9IjE5MjAiCiAgICAgaW5rc2NhcGU6d2luZG93LWhlaWdodD0iMTAyNiIKICAg%0D%0AICBpbmtzY2FwZTp3aW5kb3cteD0iMCIKICAgICBpbmtzY2FwZTp3aW5kb3cteT0iMCIKICAgICBp%0D%0AbmtzY2FwZTp3aW5kb3ctbWF4aW1pemVkPSIxIiAvPgogIDxtZXRhZGF0YQogICAgIGlkPSJtZXRh%0D%0AZGF0YTM3OTEiPgogICAgPHJkZjpSREY+CiAgICAgIDxjYzpXb3JrCiAgICAgICAgIHJkZjphYm91%0D%0AdD0iIj4KICAgICAgICA8ZGM6Zm9ybWF0PmltYWdlL3N2Zyt4bWw8L2RjOmZvcm1hdD4KICAgICAg%0D%0AICA8ZGM6dHlwZQogICAgICAgICAgIHJkZjpyZXNvdXJjZT0iaHR0cDovL3B1cmwub3JnL2RjL2Rj%0D%0AbWl0eXBlL1N0aWxsSW1hZ2UiIC8+CiAgICAgICAgPGRjOnRpdGxlPjwvZGM6dGl0bGU+CiAgICAg%0D%0AIDwvY2M6V29yaz4KICAgIDwvcmRmOlJERj4KICA8L21ldGFkYXRhPgogIDxnCiAgICAgaW5rc2Nh%0D%0AcGU6bGFiZWw9IkxheWVyIDEiCiAgICAgaW5rc2NhcGU6Z3JvdXBtb2RlPSJsYXllciIKICAgICBp%0D%0AZD0ibGF5ZXIxIgogICAgIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNy40OTc2NzksLTUuMjYzMzg4%0D%0AOCkiPgogICAgPHBhdGgKICAgICAgIHN0eWxlPSJmaWxsOiMwMDAwMDA7c3Ryb2tlOiMwMDAwMDA7%0D%0Ac3Ryb2tlLXdpZHRoOjAuMjY0NTgzMzI7c3Ryb2tlLW9wYWNpdHk6MSIKICAgICAgIGlkPSJwYXRo%0D%0AMzcyMyIKICAgICAgIGQ9Im0gMTgyLjI0NzM4LDI1LjQ1NjI5NyBjIC0zLjAyMzUxLC0xLjk0NTE1%0D%0AIC02LjE2ODU4LC0zLjcwNDQxIC05LjI4MDM3LC01LjUwNTk1IC0zLjMzNDMzLC0xLjk1NzY5IC02%0D%0ALjU3OTMyLC00LjA2MTUyIC05Ljg5MDM2LC02LjA1Nzc0IC0xLjQyNjcyLC0wLjc4MzY3IC0yLjc3%0D%0AODMzLC0xLjY5Njg3IC00LjIwMTExLC0yLjQ4NTkgLTAuNDI3NjIsLTAuMTQ3OTYgLTAuNzY3MSwt%0D%0AMC40NDg2NiAtMS4xNzk5NSwtMC42MjAzOSAtMC4zNjI3OSwwLjAyIC0wLjQzNTgxLC0wLjIyNjUx%0D%0AIC0wLjY4ODQsLTAuMzMwNTIgLTAuMzI2NzksLTAuMTEyOTUgLTAuMzg3NDQsLTAuMDU3NCAtMC42%0D%0ANjI1MiwtMC4zMzc2OSAtMC4xODc4OSwtMC4xMTYzMiAtMC4zNzI0OCwtMC4xMTYyNSAtMC41ODQx%0D%0ANCwtMC4xMzAxNjk5IC0wLjEzODYsLTAuMDEwOCAtMC4yNzUxNiwwLjAxMDMgLTAuNDEzNTQsMC4w%0D%0AMTQzIC0wLjE0OTM3LC0wLjIzNDU4ODUgLTAuMjc0MDcsLTAuMzE5NDg4NSAtMC41MTExOCwtMC40%0D%0AMTkwMDg1IC0wLjEwNTUsLTAuMDMxMiAtMC4xODAxNywwLjAyNzYgLTAuMzEzNywwLjAzNDkgLTIu%0D%0AMjY1NzksMC4yMjU3NSA2LjA4MDI5LC0zLjg5MTQ0IDQuNDI4MzQsLTIuNTE0IC0wLjAyNCwwLjA0%0D%0AMTcgLTAuMDM2NSwwLjA5MjYgLTAuMDcxOSwwLjEyNTEzIC0wLjA1MzcsMC4wNDkzIC0wLjEzNjY5%0D%0ALDAuMDU3MyAtMC4xOTIwNSwwLjEwNDcyIC0wLjEsMC4wODU3IC0wLjE3MTA0LDAuMjA1MzMgLTAu%0D%0AMjYxNDUsMC4zMDE4MSAtMC4zMDM5NSwwLjQ0NjQ4IC0wLjQ5NzM3LDAuOTMxMTkgLTAuNjUzNiwx%0D%0ALjQ0NDc5IC0wLjU2MzI4LDEuNzc3MjQ4NSAtMS4yODM2NywzLjUwMTA0ODUgLTEuOTgyNzYsNS4y%0D%0AMjgxMzg1IC0xLjMwOTIyLDMuMzc4NDYgLTIuODcxMjMsNi42NDQyNCAtNC41MTgwNiw5Ljg2ODU1%0D%0AIC0xLjgwMTgyLDMuNTY4MDIgLTMuNzU3NjgsNy4wNTUwNCAtNS42NTk1NiwxMC41NzAwNyAtMi4w%0D%0AMDk4LDMuNzQ3NDQgLTQuMTk3MDUsNy4zOTQ4IC02LjI5NTEzLDExLjA5MjM2IC0yLjAzODY4LDMu%0D%0ANTM4MTYgLTQuMTAxNzgsNy4wNjMxNiAtNi4yNDQ4OSwxMC41MzkzMyAtMi4xMzczMiwzLjI4Nzky%0D%0AIC00LjMwMzY5LDYuNTU1NTkgLTYuMzkxNTgsOS44NzU1OCAtMi4xMjI1MywzLjMwODY4IC00LjI2%0D%0ANTI4LDYuNjAyMzkgLTYuMjY4NDUsOS45ODUzNyAtMS42ODM1MiwyLjg3OTU4IC0zLjMyMzcsNS43%0D%0AODQzNCAtNC45NjQ4Myw4LjY4ODIzIC0xLjM1ODA5LDIuMzc2MDQgLTIuNjMxOTEsNC43OTc2MSAt%0D%0ANC4wMjM4NCw3LjE1NDI3IC0xLjAyOTcxLDEuNjY3NTYgLTIuMTIxNzQsMy4yOTMxMyAtMy4yNTg4%0D%0AOCw0Ljg4ODc1IC0wLjkxMzY2LDEuMjA0MzcgLTEuNTgwMTIsMi41NjA1IC0yLjMyMjcyLDMuODY5%0D%0ANDQzIC0wLjUwMjI5LDAuODkxNTQgLTEuMDAyMjgsMS43OTAzIC0xLjYxNzYxLDIuNjA5ODUgLTAu%0D%0ANDcxMjUsMC41OTc0MSAtMC45NTYzNCwxLjE4NDA3IC0xLjQ1MDY0LDEuNzYyNjMgLTAuODM1OSww%0D%0ALjk5NTM2IC0xLjY1Mzc0LDIuMDA1NjkgLTIuNDUxNiwzLjAzMTggLTEuMTc4ODksMS41NTUzMSAt%0D%0AMi4zMDM1MSwzLjE0OTU5IC0zLjQ5MzE4LDQuNjk3NSAtMS4zMTYyNCwxLjc0MjggLTIuNjUzNiwz%0D%0ALjQ2ODYzIC00LjA2NzUzLDUuMTMzNDIgLTEuMTIxMzQsMS4zNTI2MSAtMi4yNTUyMiwyLjY5NDMz%0D%0AIC0zLjQyNjEyLDQuMDA0MzkgLTAuNDM5MDYsMC41MjI5MiAtMC45NDYxNCwwLjk4NjA1IC0xLjM4%0D%0ANDg1LDEuNTA4NzEgLTAuMDQ2MiwtMC4yNzMxIC0wLjIzOTgxLC0wLjU2MTQ0IC0wLjEzODY5LC0w%0D%0ALjgxOTMxIDAuMDY5MSwtMC4xNzYwOCAwLjM1NTY3LC0wLjEyODg1IDAuNTM0NTgsLTAuMTkwMjEg%0D%0AMC45MjA0NCwtMC4zMTU2MyAxLjgzMjUxLC0wLjU1MzEgMi43OTA0NywtMC43MjI0OSAxLjQ4MzQ4%0D%0ALC0wLjE4MjIgMy4wMTIxLC0wLjA5ODEgNC40OTI4MywwLjA5MzkgMS4xOTUxMiwwLjA5NDYgMi4z%0D%0AMzkxNiwwLjM4OTA2IDMuNDcwNywwLjc2NTQyIDAuODUzNzUsMC4zMTk0NiAxLjY0MDEsMC43NzEy%0D%0AOSAyLjQxNDI4LDEuMjQ2OTYgMC43NTM1MiwwLjQ5OTM3IDEuNTA4MzUsMC45OTU2IDIuMjYyMjgs%0D%0AMS40OTQ2OSAwLjcwMjAzLDAuNDU5NzkgMS4zODE4MSwwLjk2MTQ3IDIuMDk2OTYsMS40MDA3NSAw%0D%0ALjY2NTE1LDAuNDQ1MjkgMS4zOTQ2MywwLjc3NjIzIDIuMDY3ODcsMS4yMDg3IDAuNjEyMTIsMC40%0D%0AMzU3NiAxLjI1MzM1LDAuODMwMjggMS44NTMwOCwxLjI4MzkzIDAuNTcyNDcsMC40MTcxMiAxLjAy%0D%0ANjM3LDAuOTU1MSAxLjUyOTQ5LDEuNDQ2NjEgMC40ODg1NSwwLjUyNjg1IDAuODQ1MTYsMS4xNTUx%0D%0ANyAxLjMxNDg2LDEuNjk2MiAwLjM5NTIsMC40ODYzOSAwLjc0NTU4LDEuMDEwNTIgMS4xNDk4OSwx%0D%0ALjQ4ODE1IDAuMjg0NSwwLjM2Njc3IDAuNjExMzIsMC43MTg3NCAwLjk1Mzc4LDEuMDMwNzcgMC4w%0D%0ANjYzLDAuMDYxMSAwLjE3NzY0LC0wLjEwOTkyIDAuMTk1MTYsLTAuMTAxMTUgMC4wNjExLDAuMDMw%0D%0ANiAwLjA3NzIsMC4xMjYzOCAwLjE0MjE4LDAuMTQ3NjcgMC4wNTU2LDAuMDE4MiAtMC4wMjMyLC0w%0D%0ALjEyNDUgMC4wMDUsLTAuMTc1NTQgMC4xMTM4NywtMC4wNTUgMC4wNTc2LC0wLjAxMTkgMC4xNDUw%0D%0AOSwtMC4xNTUzMyAtMS41MzgwNiwwLjg4OTEzIC0zLjA2NTgzLDEuNzk2MzIgLTQuNjE0MTksMi42%0D%0ANjc0IC0wLjA3NzEsMC4wNDM0IDAuMTMyODYsLTAuMTE3MjQgMC4xOTQzOCwtMC4xODA4OCAwLjE1%0D%0ANDQ4LC0wLjE1OTgxIDAuMjY5MzUsLTAuMzEyMjkgMC40MDc4NiwtMC40ODU4IDAuODc2MjEsLTEu%0D%0AMjEwMzEgMS44MDI1NCwtMi4zNzYyNyAyLjY0MDUyLC0zLjYxNTggMS43MjY2NywtMi44NDYxNyAz%0D%0ALjI4MjQ0LC01Ljc4ODM5IDUuMDM2MDIsLTguNjE4MjUgMS45NzMwNSwtMy4wMTYyIDQuMTA3Mzcs%0D%0ALTUuOTE3ODEgNi4wMzM2OCwtOC45NjUxNSAxLjg1NTcyLC0zLjEyMTQ4IDMuNjMxNDYsLTYuMjg2%0D%0ANCA1LjUzNjc4LC05LjM3ODQ2IDIuMDkxNTksLTMuMjE1OTEgNC4wMDE3NiwtNi41NDQxOTMgNS44%0D%0ANTg3MywtOS44OTk0NjMgMS43NDM0LC0zLjM3MzExIDMuNjg3NTIsLTYuNjMxNzYgNS42NjExMywt%0D%0AOS44NzMxMyAyLjAxOTU3LC0zLjExMzg5IDMuNjg5OTIsLTYuNDI2NjUgNS4yNjc1OSwtOS43ODAx%0D%0ANyAxLjI0MjUyLC0yLjg3OTE5IDIuNzEyODYsLTUuNjMwMDYgNC40MDYwNiwtOC4yNjYyNyAxLjYx%0D%0ANDk2LC0yLjM1NDg1IDMuMjAzMSwtNC43MjQ1NyA0LjU3NTAxLC03LjIzMDYxIDEuMTA1MzQsLTIu%0D%0AMTI5NSAxLjk0OTY5LC00LjM4MDQ2IDIuNzg1MzUsLTYuNjI1NTggMC43OTAwNSwtMi4xODAyOCAx%0D%0ALjgxODE1LC00LjI1NDYzIDIuODk4NzMsLTYuMzAxNzggMS4wNTMwNSwtMS44NzMwMyAyLjE1NjAz%0D%0ALC0zLjcxNzM1IDMuMTk0NjMsLTUuNTk4NTUgMS4wMjA3LC0xLjg2MTI0IDEuODc3NzEsLTMuODA2%0D%0ANjcgMi43NDkzMiwtNS43NDA2NyAwLjg4NjYxLC0yLjExNjY5IDEuNzczMDEsLTQuMjI2NzggMi43%0D%0AOTk0NCwtNi4yODAzNCAxLjMxODMsLTIuNDc2NyAzLjAwOTE3LC00LjcyNjUgNC41NjM5MiwtNy4w%0D%0ANTU0NSAwLjg3MzQ3LC0xLjI2NzE3IDEuNzAxODUsLTIuNTYzMzUgMi41NDE0MywtMy44NTI4IDAu%0D%0AMDU5MSwtMC4wODk4IDAuMTE4MTMsLTAuMTc5NTYgMC4xNzcyLC0wLjI2OTM0IDAsMCA1LjE1NjA3%0D%0ALC0yLjI0ODIyIDUuMTU2MDcsLTIuMjQ4MjIgdiAwIGMgLTAuMDY0NCwwLjA5MDQgLTAuMTI4Nzcs%0D%0AMC4xODA4NyAtMC4xOTMxNSwwLjI3MTMxIC0wLjg5NjQ4LDEuMjg5ODggLTEuNzMyNzYsMi42MjA2%0D%0ANyAtMi42NDg0MywzLjg5NzY3IC0xLjU1MDA4LDIuMzE1MzEgLTMuMjQxODMsNC41NDU4OCAtNC41%0D%0AODU3Miw2Ljk5MTI0IC0xLjAzNDE4LDIuMDM4ODggLTEuOTI5ODQsNC4xMzQ1MyAtMi43OTIwMiw2%0D%0ALjI1MTA5IC0wLjg3NTYsMS45NDAxIC0xLjcxMjcyLDMuOTAyNjggLTIuNzI0LDUuNzc2OTQgLTEu%0D%0AMDMxODIsMS44ODY4NCAtMi4xMjMsMy43MzkyMSAtMy4yMDkwOCw1LjU5NTE0IC0xLjA3NDgxLDIu%0D%0AMDMyNDYgLTIuMTQ0NjIsNC4wNjg3NiAtMi45Mjk3Niw2LjIzNjIzIC0wLjgzNTkzLDIuMjY5OTgg%0D%0ALTEuNjkzNDYsNC41NDAwOCAtMi43NzUzNSw2LjcwNjQzIC0xLjM1NDQxLDIuNTM0NyAtMi45Mzk5%0D%0ANSw0LjkyNjI0IC00LjU4MzY3LDcuMjgxODUgLTEuNzEwMDcsMi42MTYyNCAtMy4yMjM1MSw1LjMz%0D%0AMzMyIC00LjQ1OTkzLDguMjA4OTggLTEuNTc3MzcsMy4zNzM4MSAtMy4yNDg3NCw2LjcxMDE3IC01%0D%0ALjI2ODI1LDkuODQ1MjIgLTEuOTc0MzMsMy4yMzQyMiAtMy45MzI5NSw2LjQ3ODEzIC01LjY2NjU4%0D%0ALDkuODUwNDEgLTEuODU2MDIsMy4zNjA3NyAtMy43NTE2OSw2LjcwNDE4MyAtNS44NDc3Nyw5Ljky%0D%0AMjU2MyAtMS45MDM5OSwzLjA4OTYzIC0zLjY5NjkyLDYuMjQwMjkgLTUuNTIxNDUsOS4zNzY5NCAt%0D%0AMS45MTAzNCwzLjA1Njk0IC00LjAzMjU3LDUuOTY0MSAtNi4wMzE0NCw4Ljk2MjIzIC0xLjc2MjU3%0D%0ALDIuODA1MTkgLTMuMzMwNzQsNS43MTk5NCAtNC45NjY5Niw4LjU5OTY5IC0wLjc3OTAyLDEuMjQw%0D%0ANjEgLTEuNjM0MjQsMi40MTcwMiAtMi41MjMyMywzLjU3Njk5IC0xLjE2ODczLDEuOTk5OTUgLTMu%0D%0ANTA5NjYsMy42MTQ2MSAtNS43OTcwMywzLjgyMzQ0IC0wLjE2NjM5LC0wLjA0ODQgLTAuMDg1Mywt%0D%0AMC4wMDYgLTAuMjMyOTQsLTAuMTQ1NTcgLTAuMDI2NiwtMC4wMDggMC4wNDQ3LDAuMDczNSAwLjAx%0D%0AODEsMC4wODE1IC0wLjExNzg5LDAuMDM1IC0wLjM1NDA3LC0wLjIzODQ0IC0wLjQzMDY5LC0wLjI3%0D%0ANjg3IC0wLjMzMjA3LC0wLjM1MzYxIC0wLjY4NzkyLC0wLjY4ODY5IC0wLjk2ODM1LC0xLjA4Njgz%0D%0AIC0wLjM5MTIzLC0wLjQ4NzM4IC0wLjc1NzExLC0wLjk5NTA1IC0xLjE0NTg0LC0xLjQ4NSAtMC40%0D%0AMzk0LC0wLjU0MTY3IC0wLjgwMTQ2LC0xLjE0Mjg2IC0xLjI4MzE2LC0xLjY1MDMyIC0wLjQ4Mzgy%0D%0ALC0wLjQ3NDY2IC0wLjkyNjU3LC0wLjk5MTg1IC0xLjQ4ODMsLTEuMzgwOTQgLTAuNTk2NCwtMC40%0D%0AMzA4OSAtMS4yMTA4LC0wLjgzNjY5IC0xLjgxODY3LC0xLjI1MDg3IC0wLjY4OTQ0LC0wLjQxMDE3%0D%0AIC0xLjQxNTEyLC0wLjc1OTA5IC0yLjA3OTIzLC0xLjIxMTk2IC0wLjY5OTc0LC0wLjQ2NjczIC0x%0D%0ALjM5MjEzLC0wLjk0NDc2IC0yLjA5MTU5LC0xLjQxMTk3IC0wLjc1MTA1LC0wLjQ5MDgyIC0xLjQ5%0D%0AMjE1LC0wLjk5NjE4IC0yLjI1MTE2LC0xLjQ3NDg2IC0wLjc1MTEzLC0wLjQ0MTUyIC0xLjUwOTcs%0D%0ALTAuODY5OTggLTIuMzQwODMsLTEuMTQ2MDQgLTEuMDk4NjYsLTAuMzYwMDkgLTIuMjI2NSwtMC41%0D%0AODIwMiAtMy4zNzg4NywtMC42ODkyNSAtMS40NTYwNiwtMC4xNDE2MyAtMi45NDM3NiwtMC4yMzE3%0D%0ANSAtNC4zODk0NiwwLjA0MjggLTAuNzEwMzUsMC4xNTQyOSAtMS4zOTk0MiwwLjMzMTIxIC0yLjA4%0D%0ANzMsMC41Njg2MiAtMC4yMjE5OCwwLjA3NjYgLTAuNDQyNTUsMC4xNTczMyAtMC42NjE4OCwwLjI0%0D%0AMTIxIC0wLjE4NywwLjA3MTUgLTAuMzY0OTQsMC4yODE2NyAtMC41NTY5MywwLjIyNDkgLTAuMjkx%0D%0AMjQsLTAuMDg2MSAtMC40NjA2MywtMC4zOTU5NiAtMC42OTA5NSwtMC41OTM5NCAwLjU4MzM1LC0w%0D%0ALjE5NTIgMS4wMDU3NCwtMS4wNTgwMyAxLjQ5MTM5LC0xLjQxNzk0IDEuMjAzNjgsLTEuMzAyMDQg%0D%0AMi4zNjY3OCwtMi42NDAxNyAzLjQ4ODc4LC00LjAxMzQyIDEuNDI3MTQsLTEuNjQ3NTEgMi43Njkx%0D%0ALC0zLjM2MzA3IDQuMDc2NTIsLTUuMTA2ODggMS4xOTIwNiwtMS41MzE0MSAyLjMxMDcxLC0zLjEx%0D%0ANDM4IDMuNDU3MTEsLTQuNjc4MDQgMC43NzM5NywtMS4wMzM3NyAxLjU5NjMzLC0yLjAyNzcxIDIu%0D%0AMzkwMzEsLTMuMDQ1NDIgMC41MDUxNywtMC41NjcyNCAwLjk4NDA5LC0xLjE1NzUgMS40NTk5Miwt%0D%0AMS43NDU4MyAwLjY3NTg0LC0wLjc2NDcyIDEuMTg0MTcsLTEuNjU1MDEgMS42ODExMiwtMi41NDM2%0D%0ANSAwLjc4NjQyLC0xLjMwMzU1IDEuNDEzMzQsLTIuNzAxMTMgMi4zMjgxLC0zLjkyNjcxMyAxLjE0%0D%0AMTA5LC0xLjU5NzQ5IDIuMjY3MzIsLTMuMjAyMjkgMy4zMTQ2NSwtNC44NjQxNiAxLjQyMjAyLC0y%0D%0ALjM1MzY3IDIuNzIzMzksLTQuNzcyOTcgNC4wNzk4NywtNy4xNjQ1MiAxLjY0NTk0LC0yLjkxNzA3%0D%0AIDMuMzA2OTIsLTUuODI2MDMgNS4wMDA0MywtOC43MTU3NCAyLjAwMDQ4LC0zLjM5MzI1IDQuMTM5%0D%0ANTIsLTYuNjk3NTcgNi4yNzc5MSwtMTAuMDA0OSAyLjA3NTcyLC0zLjMyNjcxIDQuMjI2NjcsLTYu%0D%0ANjAyNzIgNi4zOTA5LC05Ljg3MjEyIDIuMTU2NTksLTMuNDcwMSA0LjIxNjUyLC02Ljk5OTEgNi4y%0D%0ANzMzNywtMTAuNTI4NzcgMi4wODUzMSwtMy42OTY0NiA0LjI3ODE1LC03LjMzMjM0IDYuMjgxODEs%0D%0ALTExLjA3NDkzIDEuODk2NDYsLTMuNTEzOTggMy44NTQ3NSwtNi45OTU3NCA1LjY2MDc2LC0xMC41%0D%0ANTc0NSAxLjYzODQxLC0zLjE5MjE1IDMuMjAxNzEsLTYuNDIyNjQgNC40NjAwNiwtOS43ODcwNiAw%0D%0ALjY3MTQyLC0xLjY5MTQ5IDEuMzQ4ODgsLTMuMzg3MjcgMS44ODM2OCwtNS4xMjcwNCAwLjE1OTIx%0D%0ALC0wLjUzNjQ2IDAuMjU0MjMsLTEuMDg3MzUgMC41NzE0MywtMS41NTgyNTg1IDAuMDQ5NiwtMC4x%0D%0AMjk4NSAwLjIzMjA3LC0wLjU0MjM0IDAuMzUwNDYsLTAuNjMwMzcgMC4wMzI3LC0wLjAyNDMgMC4w%0D%0AODEzLC0wLjAwNSAwLjEyMTk4LC0wLjAwNyAxLjIyMjIxLC0xLjY1Mjk0IDMuMzE2MjQsLTMuMTM3%0D%0AMTEgNS4zNzU3OCwtMi45ODEwMSAwLjE3MTk5LDAuMDIgMC4zMTQ2OCwwLjA2OTUgMC40NTUyLDAu%0D%0AMTczOTIgMC4wNzkyLDAuMDQ4NCAwLjQ4NTY4LDAuNDQxNzUgMC4zNTY0MSwwLjE5NSAwLjE1NzUs%0D%0AMC4wMDQgMC4zMTE1OSwwLjAyMzMgMC40NjQyOCwwLjA2NDEgMC4yNzkxOCwwLjA3MTIgMC41MzMw%0D%0AMiwwLjE5OTU3IDAuNzUzNDMsMC4zODcyIDAuMTc3MzksMC4wOTY3IDAuNDUyMTIsMC4wOTA0IDAu%0D%0ANjE0NiwwLjI2NjIgMC4yMDM0MywwLjE1NTIzIDAuNDMxMzEsMC4xNDI1MyAwLjY1NjIsMC4yODcw%0D%0ANyAwLjM5MDY4LDAuMjIyNTIgMC43NjgyMSwwLjQ2NjE3IDEuMTY3NjYsMC42NzQzMSAxLjM3MTcz%0D%0ALDAuODQ1MzcgMi43MDIyMywxLjc1Njk4ODUgNC4wOTMwMSwyLjU3MjI5ODUgMy4yNDUyMiwyLjA2%0D%0AMjc5IDYuNDY4NTcsNC4xNjM1MSA5Ljc5MDQ5LDYuMTAxOTYgMy4xNjEyLDEuODEyNjQgNi4zMzMz%0D%0AMiwzLjYwNjAxIDkuNTAxMDQsNS40MDYyNSAwLDAgLTQuNzE4NTMsMy4wMjEyMiAtNC43MTg1Mywz%0D%0ALjAyMTIyIHoiCiAgICAgICBpbmtzY2FwZTpjb25uZWN0b3ItY3VydmF0dXJlPSIwIiAvPgogICAg%0D%0APHBhdGgKICAgICAgIHN0eWxlPSJmaWxsOiMwMDAwMDA7c3Ryb2tlOiMwMDAwMDA7c3Ryb2tlLXdp%0D%0AZHRoOjAuMjY0NTgzMzI7c3Ryb2tlLW9wYWNpdHk6MSIKICAgICAgIGlkPSJwYXRoMzcyNyIKICAg%0D%0AICAgIGQ9Im0gMjIuOTQ4ODEsMTQ0LjUyNjM5IGMgNC44ODg3NiwtMC45NDEwMiA5LjY5ODg1LC0y%0D%0ALjI2NzU2IDE0LjUwMjUxLC0zLjU2NjM2IDcuODEyMDgsLTIuMjIxNTIgMTUuNDE1NTgsLTUuMTA5%0D%0AMzIgMjIuOTkwMzYsLTguMDIyODkgNi40NDc0MywtMi4zODA1NiAxMi42NzkyMywtNS4yNzUyMyAx%0D%0AOC44OTkzOCwtOC4xODM0NSAyLjg2NDUsLTEuNDI2MzkgNS43NzM0NSwtMi43NTc2OSA4LjY2NDc3%0D%0ALC00LjEyNzI4IDEuMTgzMTMsMi44NjU1MyAwLjU3NDgzLDAuNjc1OTkgLTUuNTgyMTksNC4yMjE4%0D%0ANiAtMC42NjY2NSwwLjM4MzkzIC0xLjMxNzUsMC44MDUyIC0yLjAyNTMsMS4xMDY2MSAtMC41Nzc1%0D%0ANywwLjI0NTk1IDIuMTY2NDEsLTEuMjY5MTUgMS42MzIzMiwtMC45MzkyNiAtMS4xNjU3OSwwLjcy%0D%0AMDA3IC0yLjM1MTkxLDEuNDA2NzIgLTMuNTI3ODYsMi4xMTAwOCAtMS4yOTc3MiwwLjgwODY2IC0y%0D%0ALjU5NTQ0LDEuNjE3MzEgLTMuODkzMTYsMi40MjU5NyAtOC40ODg5LDUuMTQ3ODggLTE2LjcyNzYy%0D%0ALDEwLjY5NzIzIC0yNC45MTMwNywxNi4zMTEzIC01LjMxNDI0LDMuNjU1NTkgLTEwLjUzNzgzLDcu%0D%0ANDQwMTUgLTE1LjcxMjUxLDExLjI5MDAxIC0xLjI5NTgyLDEuMDE2MzUgLTAuODk2NTQsMC42OTk3%0D%0ANSAtMi4wMzQxNSwxLjYwMzE5IC0wLjIwNjgyLDAuMTY0MjQgLTAuMzcwNjMsMC41ODAwNSAtMC42%0D%0AMjAwNSwwLjQ5MzIzIC0wLjI1NTc5LC0wLjA4OSAwLjA0MywtMC44NjgwMiAtMC4yMTQ0MiwtMC43%0D%0AODM3MSAtMS4yNDIzOSwwLjQwNjk3IC02LjYxODA0LDMuOTAyMTkgLTEuOTY1NTMsMC45MjUyNSA4%0D%0ALjM5MDgsLTUuNTIyNzEgMTcuMDI5MDIsLTEwLjYzODMxIDI1Ljg1NTk1LC0xNS40MzA4NCAxLjQ3%0D%0AOTE5LC0wLjc3NTA0IDIuOTU2ODIsLTEuNTUzMDUgNC40Mzc1NiwtMi4zMjUxMiAyLjEzMDE0LC0x%0D%0ALjExMDY2IDYuNTEzMDUsLTMuMzg4OTggOC42OTI3NiwtNC40NjYzMiAzLjg0OTIsLTEuOTAyNTIg%0D%0ANy43Njc5NywtMy42NTkyIDExLjY3Nzc5LC01LjQzMTg4IDQuNjc5NTksLTIuMTE4NiA5LjMzMjU0%0D%0ALC00LjI5MzMgMTMuOTM2MjUsLTYuNTcyMTQgMC4zNTUwMSwtMC4xNjg1IDAuNjcyMDcsLTAuNTA4%0D%0ANDUgMS4wNjUwMiwtMC41MDU1MSAwLjIxMDg3LDAuMDAyIDAuNDM1MjMsMC4zMTcwOSAwLjM2NTc0%0D%0ALDAuNTE2MTkgLTAuMTYyMjIsMC40NjQ3OCAtMC41NzY1OSwwLjgwNzcxIC0wLjk0MjY3LDEuMTM2%0D%0AODQgLTAuNjEzNywwLjU1MTc2IC0xLjMwNzk2LDEuMDA3MTkgLTEuOTc3OTcsMS40ODkwMiAtMC43%0D%0ANDY5LDAuNTM3MTIgLTUuNzg3NDIsNC4wMTIyMyAtNi4yOTIxMSw0LjM2MDc5IC03Ljk4MTkzLDUu%0D%0ANTgyODcgLTE1Ljk5ODU5LDExLjExODg4IC0yMy44ODg5NCwxNi44MzEwNSAtNS4xMzYyNiwzLjg1%0D%0ANTA1IC0xMC41ODI4NSw3LjI3MDE3IC0xNS43NTI0NCwxMS4wNzY4OSAtMC43NjEwNywwLjU5MzQ0%0D%0AIC0xLjUwODYsMS4xNTk1NCAtMi4yNDA4MiwxLjc4NTAzIC0wLjIyOTI3LDAuMTk1ODUgLTAuMzg2%0D%0ANDYsMC41MDczNiAtMC42NzEyNywwLjYwNjQgLTAuMTE1NDYsMC4wNDAxIC0wLjAxMywtMC4yNDQx%0D%0ANCAtMC4wMTk1LC0wLjM2NjIxIDAuMjU3OCwtMC4yMjQ4MyAxLjA4ODI5LC0wLjgwODA3IDAuNzcz%0D%0AMzksLTAuNjc0NSAtMS4wMDk4LDAuNDI4MzEgLTEuOTI3MDUsMS4wNDgzNCAtMi44OTA1NywxLjU3%0D%0AMjUxIDYuNjUxMzgsLTQuNDk2NTkgMTIuODE5OTcsLTkuNjU3MTcgMTkuMTQyOTMsLTE0LjU5NDM2%0D%0AIDYuMzYwNjQsLTUuMTEwNCAxMy4wOTUyOCwtOS43MTcyNiAxOS43Mjc2MywtMTQuNDU5OTcgMS45%0D%0AMjcwOCwtMS40MTc5NyAzLjkwNjkyLC0yLjc2Mjc4IDUuODQyMDgsLTQuMTY5NDIgMC40MDMxNiwt%0D%0AMC4yOTMwNSAwLjc5OTMzLC0wLjU5NTYxIDEuMTk4MzYsLTAuODk0MjcgMC4zMDM1NCwtMC4yMjcx%0D%0AOSAwLjU1NDc3LC0wLjU0OSAwLjkwOTM0LC0wLjY4MzI4IDEuMzc2OTIsLTAuNTIxNDcgMi44MjE1%0D%0AOCwtMC44NDI2NiA0LjIzMjM3LC0xLjI2Mzk5IC01LjYxNDE4LDQuOTAzMTkgLTExLjI3ODg5LDku%0D%0ANzQ4NDggLTE2Ljk5MzU5LDE0LjUzNDM3IC02LjMxOTUxLDUuNDc4ODYgLTEyLjY0MTMzLDEwLjk1%0D%0AMTUxIC0xOC44MTMyNCwxNi41OTY1NiAtMi44MTg4NiwyLjcyMDkzIC01LjY0MTgxLDUuNDU3Mjkg%0D%0ALTguMjE5MzcsOC40MTIyNCAtMC4zNDM3MywwLjA4NzQgMC42NTU1MSwtMC44NTUzOCAwLjM5MDEz%0D%0ALC0wLjc1NTY4IC0xLjE1ODA2LDAuNDM1MDUgLTIuMDYwOTYsMS40Mjk0NSAtMy4yMzU0MSwxLjgx%0D%0AODA5IC0wLjgzMTQ5LDAuMjc1MTUgMS40NjEwMywtMC45NjY2NSAyLjE3ODg1LC0xLjQ2ODQ2IDIu%0D%0ANDk1NjcsLTEuNzQ0NjcgMy40Mjg4NywtMi40ODgwNCA1LjkyOTgzLC00LjM3NjM5IDcuNDEyMywt%0D%0ANS42NzE4NSAxNC4zNzcwMSwtMTEuODg4ODIgMjEuMTQyMzUsLTE4LjMwOTMzIDQuOTM1NDgsLTQu%0D%0ANjIyNTQgOS40NjUzOCwtOS42NDMgMTQuMDg5NjMsLTE0LjU2ODQ0IDIuMDU2OTQsLTIuMTk4MjYg%0D%0AMi45NTI2NywtNC4wNzI4NCA2LjczNDQsLTQuMDU1MjEgMC43NDQ3MSwwLjAwMyAtMS4wOTU4Mywx%0D%0ALjAwOTI4IC0xLjYyNDIzLDEuNTM0MDcgLTAuNzMzOSwwLjcyODg4IC0xLjQ0MTIxLDEuNDg0MDUg%0D%0ALTIuMTYxODEsMi4yMjYwOCAtNi41OTcxNCw2LjkwMjAyIC0xMi42MDgzOCwxNC4zMTk2MyAtMTgu%0D%0ANTczNCwyMS43NjQ0NiAtNC40MzU2OCw1LjY4MTQ0IC04LjQ2ODI0LDExLjY1OTc2IC0xMi42Nzgz%0D%0AMywxNy41MDcyOSAtMC4xMTcxNiwwLjE1NTc3IC0xLjg4ODc2LDIuNTEzNjYgLTIuMTM4MzksMi44%0D%0AMzY5NSAtMC4yNDI5MiwwLjMxNDYxIC0wLjM2MDkyLDAuODE5MDcgLTAuNzQxNDUsMC45MzM4OSAt%0D%0AMC4yMjE5NSwwLjA2NyAwLjE2NTY3LC0wLjc2MDYgLTAuMDU2MSwtMC42OTMyMiAtMS4zMDM0LDAu%0D%0AMzk1ODcgLTIuMzA1OTIsMS42NTc1MyAtMy42NTgyMiwxLjgyMTM4IC0wLjgyMzIsMC4wOTk3IDEu%0D%0AMjY1MzQsLTEuMDcyMDcgMS44OTgwMSwtMS42MDgxMSA2LjA5NDgsLTUuMjk3NTUgMTEuODg3NTEs%0D%0ALTEwLjkyMjcxIDE3LjYzNTQxLC0xNi41OTAxOCA1LjczMjAxLC01LjcwNzIzIDEwLjk5NzcsLTEx%0D%0ALjg2MzA3IDE1LjkxODk0LC0xOC4yNzY3NCAyLjc5NTI5LC0zLjY5MDM5IDUuMjk2NzYsLTcuNjEx%0D%0AOCA3LjIzMjc0LC0xMS44MjEzMiAwLjEyNTU3LC0wLjMwNSAwLjI1MTE0LC0wLjYxIDAuMzc2NzEs%0D%0ALTAuOTE1IC0wLjAyMSwwLjExMjI5IC0wLjE3MDU5LDAuMzc1NTQgLTAuMDYzMSwwLjMzNjg3IDEu%0D%0AMzQ4NzgsLTAuNDg1MiAyLjUwNzAzLC0xLjgzMzM5IDMuOTM2NzMsLTEuNzMwMzIgMC44MjA4LDAu%0D%0AMDU5MiAtMS4wNzUzNywxLjI0NzE4IC0xLjU3NTcxLDEuOTAwNTMgLTEuNTkyNzMsMi4wNzk3OSAt%0D%0AMi45NTYzOSw0LjE4MzI2IC00LjQyNTMyLDYuMzYwMSAtNS44NDg1Niw4Ljg5OTU5IC0xMC44Mzk0%0D%0AMywxOC4zMzExOCAtMTUuNzY5OTYsMjcuNzYwMDUgLTMuMDU3MjMsNi4wMTIyMiAtNS45MTA0OCwx%0D%0AMi4xMjU4OSAtOC43NjMxNSwxOC4yMzcxMiAtMS4zNjIzLDIuODQ4MzIgLTEuNDE1MzIsMy40ODg2%0D%0ANCAtNi4wNDg2OCw0LjI0NTAxIC0wLjU1NzA3LDAuMDkwOSAwLjU3MTk1LC0wLjk3MzM4IDAuODY4%0D%0AMywtMS40NTM3NiAxLjE3NzE4LC0xLjkwODI0IDIuMzg3OTUsLTMuNzk1NTUgMy41ODMzNywtNS42%0D%0AOTI0MSA1Ljc2ODcxLC04LjgyNzAxIDExLjkwOTM4LC0xNy4zOTQwOSAxOC4xMzg4OCwtMjUuODk4%0D%0ANzUgNS4xODQzNywtNy4wNzk3NyAxMC42NjA0MiwtMTMuOTM4MTMgMTUuODkxMjgsLTIwLjk4Mjg4%0D%0AIDAuNDk3NzcsLTAuNzA5OTUgMS4wMDExMiwtMS40MTYwMiAxLjQ5MzI5LC0yLjEyOTg2IDAuMzg5%0D%0AMjYsLTAuNTY0NTUgMC43NzQyOSwtMS4xMzIxIDEuMTUwOSwtMS43MDUxNiAwLjI4Nzk3LC0wLjQz%0D%0AODE2IDAuNTUxNjMsLTAuODkyMDYgMC44NDI2NCwtMS4zMjgyMSAwLjEwMzQxLC0wLjE1NDk3IDAu%0D%0AMTY2MjEsLTAuMzc1OTMgMC4zMzk2OCwtMC40NDM4MiA1Ljc2NTEyLC0yLjI1NjEzIDUuNTYwODUs%0D%0ALTMuMDQzOTkgNC4xMjY4NSwwLjIzMzAxIC0zLjgyNzA0LDguMjc0MTEgLTcuODE1MjksMTYuNDcx%0D%0ANiAtMTEuNzE1NjQsMjQuNzExMDggLTMuNzE1MDcsOC4wMDMyNiAtNy4zOTg0NSwxNi4wMjEyNCAt%0D%0AMTEuMTI2NTMsMjQuMDE4NDQgLTEuMzk5MDYsMi45NjY2NyAtMi44MDExNiw1LjkzMjE1IC00LjE0%0D%0AMzE2LDguOTI1MiAtMC43MTQyMSwxLjg5NTk3IC0wLjQxNTk1LDEuNDM1MTIgLTQuNzkxMjcsMi4y%0D%0AODUwOSAtMC41MzQ5MiwwLjEwMzkyIDAuNzk1OTYsLTAuNzQ4MjIgMS4xNDU2NywtMS4xNjYxMSAy%0D%0ALjExNjMzLC0yLjUyODkyIDMuNzcxODYsLTUuNDM0NjQgNS40NzcwMiwtOC4yMzk5NSA1LjA0MDUy%0D%0ALC04LjI4MDMxIDguNzA3MjQsLTE3LjI4MDM2IDEyLjI3ODcxLC0yNi4yNjIzIDIuMTQ0MTYsLTUu%0D%0ANDczNjkgNC4yMDkzNywtMTAuOTg3MzggNS44NDczNCwtMTYuNjM3MjQgMC42NDI4NCwtMi4yMTcz%0D%0ANCAwLjk5OTYsLTMuNzQ4MzYgMS41NDMxOSwtNS45NTA5MiAwLjQxMDA4LC0xLjc0ODkzIDAuNzgy%0D%0AOTIsLTMuNTA3MzggMS4wNzAyOSwtNS4yODA5NiAwLjA1MjEsLTAuMzIxNjMgMC4wOTc1LC0wLjY0%0D%0ANDMyIDAuMTQyMDMsLTAuOTY3MDggMC4wMjg3LC0wLjIwOCAtMC4xMDc5NywtMC41MjY3MyAwLjA3%0D%0ANzUsLTAuNjI1MTEgMS41ODY1MywtMC44NDE0OCAzLjMxOTY1LC0xLjM3MTM2IDQuOTc5NDcsLTIu%0D%0AMDU3MDMgLTEuMzc5NTUsNy41OTQxOSAtMy4wNzc3OCwxNS4xMjUyOCAtNC42NzA5NCwyMi42NzYz%0D%0AOSAtMi4xNTU3NSwxMC41NzgxNSAtNC4wMTU3OCwyMS4yMTMxNyAtNS45Mzc1OCwzMS44MzUzOCAt%0D%0AMS4wODMwOSw1LjY4OTUzIC0yLjE3NjA2LDExLjM3OTI0IC0zLjQ2MDU0LDE3LjAyNzM3IC0wLjEw%0D%0AMTM1LDAuNDMxMzIgLTAuMjAzMjksMC44NjI1IC0wLjMwNDAyLDEuMjkzOTYgLTAuMjMzMDgsMC45%0D%0AOTgzIC0wLjE5NDcsMC44MzU3NyAtMC4zOTI3MywxLjcyMDUzIC0wLjAzNDYsMC4xNTQ1OSAwLjAz%0D%0ANzEsMC4zOTE1MiAtMC4xMDM4NCwwLjQ2Mzc1IC01LjYxMDg1LDIuODc0NTUgLTUuNDE3MjcsMy44%0D%0AMDE3OSAtNC42ODE4NiwwLjcwMjAxIDIuMTA1MDksLTcuOTE0MSA0LjI0MjYsLTE1LjgxNjM5IDYu%0D%0ANTM5NTcsLTIzLjY3NzE3IDIuMzM2ODksLTcuNjk5MzYgNC42NzMzOCwtMTUuNDE1NzggNi4zMDQ5%0D%0ALC0yMy4zMDI1MyAwLjI3NTQ2LC0xLjMzMTU1IDAuNTAzNTMsLTIuNjcyNDcgMC43NTUzLC00LjAw%0D%0AODY5IDAuODU0MDgsLTQuOTAyMDcgMS4zMjc2MywtOS44NjA3MiAxLjQ2MjIzLC0xNC44MzI1OCAw%0D%0ALjAyODYsLTIuODQ2NjIgLTAuNzMwOTQsLTMuMjc0OTIgNS4wMDE1NSwtMy42NTA0OSAwLjU0NTA0%0D%0ALC0wLjAzNTcgLTAuMDAyLDEuMDkyNDIgLTAuMDAzLDEuNjM4NjQgLTUuM2UtNCwwLjg1NzIyIC0y%0D%0AZS00LDEuNzE0NDQgLTIuNmUtNCwyLjU3MTY2IC0wLjIxOTQ4LDkuOTcwMjIgLTAuMjQ4NSwxOS45%0D%0ANDA3MiAtMC4xMjgxNywyOS45MTIyNSAwLjMxMjI2LDExLjExNzgyIDAuNjk3ODMsMjIuMjM0Mjgg%0D%0AMS4wODI1LDMzLjM1MDA3IDAsMCAtNC40NzAzMSwyLjI5MTcxIC00LjQ3MDMxLDIuMjkxNzEgdiAw%0D%0AIGMgLTAuMTY3OTMsLTExLjE0NzUyIC0wLjY2NDMzLC0yMi4yODQzNiAtMC45Mzk2NCwtMzMuNDI5%0D%0AMTQgLTAuMTYwMTMsLTkuODk5MTEgLTAuMTY4MDMsLTE5Ljc5ODczIC0wLjI4MTgyLC0yOS42OTgw%0D%0ANCAtMC4wMzY5LC0wLjgzNTgxIC0wLjA2NTQsLTEuNjcyMDMgLTAuMTEwODIsLTIuNTA3NDEgLTAu%0D%0AMDI4NCwtMC41MjEwOSAtMC40ODM4NCwtMS4xOTY5NCAtMC4xMTA1OSwtMS41NjE2NiA1Ljg0MDY5%0D%0ALC01LjcwNzEzIDQuOTU3NywtNC4zNzA0NSA0Ljg1MzM3LC0xLjM4NDUyIC0wLjI5MzEyLDUuMDUx%0D%0AMTcgLTAuODUwOTgsMTAuMDg2MzkgLTEuNzU5MjEsMTUuMDY2MSAtMC4yNjE5NSwxLjM0NzUzIC0w%0D%0ALjUwMDY0LDIuNjk5OCAtMC43ODU4Nyw0LjA0MjYgLTEuNjc4ODQsNy45MDM1NyAtNC4wMzY5Mywx%0D%0ANS42NDEyOCAtNi4zNzM3OSwyMy4zNjg1MyAtMi4yMzM2OCw3Ljc1NzE0IC00LjM2MTYxLDE1LjU0%0D%0ANTM1IC02LjEwNDg5LDIzLjQyOTgxIC0wLjYwNDY0LDMuMDgyOTIgMC4wMzg0LDEuNTcxNiAtNS4z%0D%0AMDYyNCw0LjA5MzY0IC0wLjE0ODIxLDAuMDY5OSAwLjA5OCwtMC4zMTI4MyAwLjE0MTkxLC0wLjQ3%0D%0AMDczIDAuMjgzNzMsLTEuMDIwNzQgMC41MjMwMywtMi4wNTM3OCAwLjgxNjMyLC0zLjA3MTk5IDEu%0D%0ANDc3MDYsLTUuNjc2NjMgMi42NTU0MywtMTEuNDI1ODcgMy44MjUyLC0xNy4xNzIwNiAyLjA1NzI2%0D%0ALC0xMC42MjM5MyAzLjk1ODgsLTIxLjI3NzQgNi4wNDIwNiwtMzEuODk2MzUgMS40OTcxOCwtNy40%0D%0AMDk0IDMuMTc4MTEsLTE0LjgwNTAxIDQuMDc5MDIsLTIyLjMxNjk4IDEuNjg0NDMsLTAuOTY4NDIg%0D%0AMy4yODU3OCwtMi4wOTg0MSA1LjA1MzMxLC0yLjkwNTI3IDAuMjAwOTUsLTAuMDkxNyAtMC4wNzgx%0D%0ALDAuNDM0ODIgLTAuMTE3NjMsMC42NTIxNiAtMC4zOTA4OSwyLjE1MDk5IC0wLjg2MTAxLDQuMjg2%0D%0AMDIgLTEuNDE5NDEsNi40MDAyNiAtMC41NjI0MSwyLjEyODg1IC0xLjAxNDUzLDMuOTA1ODIgLTEu%0D%0ANjU1NDIsNi4wMzQ1IC0xLjcwOTA0LDUuNjc2NDEgLTMuODEzNDMsMTEuMjIyMzUgLTUuOTc1MDQs%0D%0AMTYuNzM4NzUgLTMuNTQ2MjksOC45NzE2MyAtNy4xOTQ2OCwxNy45NTQxNiAtMTIuMTE3ODIsMjYu%0D%0AMjc3ODggLTEuNzM3MDgsMi45ODE4MiAtMS45MzQ2LDMuNDIyNzggLTMuNzI1OTIsNi4xNDU5OSAt%0D%0AMC40NTY5MiwwLjY5NDYgLTAuOTIzMDIsMS4zODM2NyAtMS40MTIxNSwyLjA1NTk4IC0wLjMwNzc4%0D%0ALDAuNDIzMDUgLTAuNTIzNjQsMC45Njc0MSAtMC45NzcxNywxLjIyODE5IC0xLjc5MzIyLDEuMDMx%0D%0AMDYgLTMuNzEwNTksMS44NDQyNyAtNS42NDQyMiwyLjU3ODk3IC0wLjE2NTk4LDAuMDYzMSAwLjEx%0D%0AODYzLC0wLjMzNDY5IDAuMTc3OTUsLTAuNTAyMDQgMS40NzM0OCwtMy4wMzEgMi45NjYyNCwtNi4w%0D%0ANTIwNSA0LjQ1OTkzLC05LjA3MzI1IDMuODc5NjYsLTguMDA0MzIgNy42MzUzMiwtMTYuMDY3ODgg%0D%0AMTEuMzgzNzMsLTI0LjEzNDI5IDMuODQwNzksLTguMTI5NzMgNy43NjM4NCwtMTYuMjI0NSAxMS4y%0D%0AOTYwMiwtMjQuNDk1MjcgMS40MjkwNCwtMy41MTU5MiAwLjIxNTY1LC0xLjU1MTYyIDUuOTUxNDQs%0D%0ALTQuNjIxMzggMC4xODg1MywtMC4xMDA4OSAtMC4zODIzMiwwLjIxMzggLTAuNTE2NzQsMC4zODAw%0D%0AOSAtMC4zNDMwMSwwLjQyNDMzIC0wLjU5MDY1LDAuOTE3NzMgLTAuODk3MjEsMS4zNjkxIC0wLjg3%0D%0AMzM5LDEuMjg1OTYgLTEuODc4NjUsMi42NjUwNSAtMi43NzgyLDMuOTE3NjEgLTUuMzU3NDIsNy4w%0D%0ANTg1MSAtMTAuOTIxMjEsMTMuOTU4NzkgLTE2LjE3MjMzLDIxLjA5ODE5IC02LjIwNDY5LDguNDM0%0D%0AMTkgLTEyLjMxNDQ3LDE2LjkzNzI3IC0xNy45NDUzOCwyNS43NzAwOCAtMS4wODQ0NCwxLjc5NTQg%0D%0ALTIuMjY1OTUsMy43MjI4NiAtMy4zMTc2Nyw1LjU1NjAyIC0wLjI0ODk2LDAuNDMzOTUgLTAuMzAx%0D%0AOCwxLjA0Mzg1IC0wLjcyMTU4LDEuMzE2MDQgLTEuNjA0NiwxLjA0MDQzIC0zLjM1MzE5LDEuODg0%0D%0ANDYgLTUuMTYzNzksMi41MDAwNiAtMC43NzA1NiwwLjI2MTk5IDIuMzQzOTMsLTIuNzY0ODcgMS4x%0D%0ANTY3MSwtMi4xNTAyOSAzLjA2MzAxLC02LjE0NjQ3IDYuMDU5MDgsLTEyLjMyNjI1IDkuMTc4ODcs%0D%0ALTE4LjQ0NDIzIDQuOTQ4ODYsLTkuMzg4NjMgOS45MDY0OCwtMTguODAwNjUgMTUuNjIzMDYsLTI3%0D%0ALjc1MDQzIDEuNjYzNjcsLTIuNTYzNjggMi40ODQzOSwtMy44ODc4MiA0LjE3ODM0LC02LjI5NzU1%0D%0AIDAuNDU1LC0wLjY0NzI2IDAuNzcxMDUsLTEuNDM4NTcgMS40MDMyLC0xLjkxNDM0IDEuODA4ODMs%0D%0ALTEuMzYxMzggMy43NzI0NiwtMi41MzA5NSA1LjgxMTEzLC0zLjUxNTM2IDAuMTk3NSwtMC4wOTU0%0D%0AIDAuNDE4NTEsMC4yODczMyAwLjQxOTc5LDAuNTA2NjUgMC4wMDIsMC4zNDYxNiAtMC4yNzQxOSww%0D%0ALjYzNTczIC0wLjQxMTI4LDAuOTUzNTkgLTIuMDI2NDUsNC4yODE3OCAtNC42MDUxOSw4LjI3OTYx%0D%0AIC03LjQ2NDY1LDEyLjA1MTIzIC00Ljk1NTAyLDYuNDQ1MDIgLTEwLjI0ODc5LDEyLjYzNjk1IC0x%0D%0ANi4wMDE0MiwxOC4zODc0OSAtNS42ODE0OCw1LjYxNzA5IC0xMS40MDY0NCwxMS4xODk4OCAtMTcu%0D%0AMzY0NzksMTYuNTE1MzcgLTIuNzI5NzksMi40MzAyNiAtMy4zMzI0LDMuMTQ5MjQgLTcuNjYzMjIs%0D%0ANS4yMTg1MyAtMC4yMzUyNywwLjExMjQxIC0wLjU3NTkyLC0wLjMxNzQ0IC0wLjUzMTA4LC0wLjU3%0D%0ANDMgMC4wNzA1LC0wLjQwMzk0IDAuNTM2ODIsLTAuNjIwMTggMC43OTUyLC0wLjkzODU4IDAuMzM4%0D%0ANiwtMC40MTcyNiAwLjY2MzY5LC0wLjg0NTMgMC45OTU0MywtMS4yNjgwNCAwLjQxOTQsLTAuNTM0%0D%0ANDUgMC44Mzg2NCwtMS4wNjkwMSAxLjI1Nzk2LC0xLjYwMzUxIDQuMzUyOTgsLTUuODcxOTUgOC40%0D%0AOTcxMSwtMTEuODk2NDIgMTIuOTg3NTIsLTE3LjY2NTQ0IDUuOTI3NjUsLTcuMzgxMjIgMTEuODc2%0D%0AMjUsLTE0Ljc1MDE2IDE4LjMxMTc2LC0yMS43MDA2IDAuNjgwNTksLTAuNzMyNiAxLjM1MTk3LC0x%0D%0ALjQ3Mzg2IDIuMDQxNzgsLTIuMTk3NzkgMC40Nzk2NywtMC41MDMzOSAwLjg2Njg0LC0xLjEzMTMy%0D%0AIDEuNDY2MjQsLTEuNDgzNzQgOS4xNDQ4NiwtNS4zNzY1NyA1LjkzMTkyLC0yLjk3ODI5IDMuMzM0%0D%0ALC0wLjEwNzQ1IC00Ljc2MjY5LDQuOTM0NjUgLTkuMzU3MjcsMTAuMDM2MzggLTE0LjM3ODU3LDE0%0D%0ALjcxNjQ3IC02Ljc0MzEyLDYuNDA0NTMgLTEzLjY3MDY5LDEyLjYxOTcyIC0yMS4wMjUsMTguMzIx%0D%0ANTMgLTIuNzI1LDIuMDkxMTIgLTMuMDg5NzEsMi40MDI4NiAtNS43NTEyNCw0LjMzMTU0IC0wLjY4%0D%0AMDg0LDAuNDkzMzcgLTEuMzQwNjEsMS4wMTk5NCAtMi4wNTc4MSwxLjQ1ODc4IC0yLjAzNDc5LDEu%0D%0AMjQ1MDUgLTQuMDQxMTcsMi41NTYxMiAtNi4xOTE1MywzLjU4ODgyIC0wLjMyNDE2LDAuMTU1Njgg%0D%0ALTAuNzQ5ODYsMC4wNTU4IC0xLjA3NDIyLC0wLjA5OTUgLTAuMTM0NDEsLTAuMDY0MyAtMC4wMzk1%0D%0ALC0wLjI5NTM5IC0wLjA1OTMsLTAuNDQzMDkgMi42NTQzLC0zLjAzNjU0IDUuNjM1MDEsLTUuNzgw%0D%0AMDYgOC41MTE0NiwtOC41OTk5MSA2LjIzMTMzLC01LjY1MzQ2IDEyLjYwMTk2LC0xMS4xNDUzNiAx%0D%0AOC45NDQ4NiwtMTYuNjcyOTQgNS41OTg2MywtNC42OTIxMiAxMS4xNTY2MywtOS40MzY4OCAxNi41%0D%0ANzA1OCwtMTQuMzQxMTIgMS45OTYzMywtMC45NTA2OSAzLjk1NTgxLC0xLjk4Mjk1IDUuOTg4OTcs%0D%0ALTIuODUyMDcgMC4zNjMzLC0wLjE1NTI5IC0wLjYzODI2LDAuNDY1ODEgLTAuOTU1OTksMC43MDA2%0D%0ANCAtMi4zODk1MywxLjc2NjA4IC00Ljg1MDk3LDMuNDMwMDYgLTcuMjYzNzcsNS4xNjQzMyAtNi42%0D%0AOTIwNiw0Ljc1MTMzIC0xMy40OTI1Nyw5LjM1ODg1IC0xOS44OTU5LDE0LjUwMjYyIC02LjI0MTk5%0D%0ALDQuODczODYgLTEyLjMyOSw5Ljk1OTQ4IC0xOC44MDkzMiwxNC41MTgxOSAtMi4xNDcxNCwxLjI3%0D%0AMzE2IC00LjI0MTk3LDIuNjM4OTYgLTYuNDQxNDIsMy44MTk0NyAtMC4zNjMyMiwwLjE5NDk1IC0w%0D%0ALjc5ODkxLDAuMzYxOTcgLTEuMjAzNjgsMC4yODM4OCAtMC4yMjYxOCwtMC4wNDM2IC0wLjQyNTQ0%0D%0ALC0wLjM2NDIxIC0wLjM2NTMzLC0wLjU4NjU4IDAuMDgzMywtMC4zMDgwOSAwLjQ1ODY1LC0wLjQ0%0D%0ANDQzIDAuNzAwMzYsLTAuNjUyODQgMC41OTk1NCwtMC41MTY5NSAxLjc2MzU2LC0xLjQwNzA0IDIu%0D%0AMzM2NTUsLTEuODUyNzggNS4yNjI0OSwtMy44NjcxOSAxMC44MzUzOSwtNy4yOTI0NyAxNi4wNjY1%0D%0ANiwtMTEuMjA1NzcgNy44Nzc5NywtNS42OTU0OSAxNS44ODk1OCwtMTEuMjAzMjcgMjMuODI1OTIs%0D%0ALTE2LjgxNjgyIDAuMDM0NiwtMC4wMjQxIDUuNzA3MTksLTMuOTc5NDIgNi4wODM1LC00LjI1MzYg%0D%0AMC42MjY3NiwtMC40NTY2NiAxLjE5NDAzLC0wLjk5NTMgMS44NDMyNywtMS40MTkzOCAwLjMyOTY5%0D%0ALC0wLjIxNTM1IDAuNjg5NjQsLTAuNDExODYgMS4wNzYwOSwtMC40ODc1MiAwLjExODE3LC0wLjAy%0D%0AMzEgMC4zNzMwOCwwLjEzNzggMC4yODU4OSwwLjIyMDg2IC0wLjI3Mjc4LDAuMjU5ODYgLTAuNjgx%0D%0AODEsMC4zMjA3MiAtMS4wMjI3MiwwLjQ4MTA3IC00LjUzMDcsMi4xODYxMSAtOS4wOTc1NCw0LjI5%0D%0ANDMyIC0xMy42ODczMiw2LjM1MzYxIC04LjM2OTA5LDMuNzcyNDUgLTE2LjYyOTA2LDcuNzY2NCAt%0D%0AMjQuNjg2MDEsMTIuMTczNzcgLTEuNDIyMDksMC43NzY2NyAtMi44Mzk2NSwxLjU2MTY2IC00LjI2%0D%0ANjI1LDIuMzMwMDEgLTAuMDU1NSwwLjAyOTkgMC4yMDUxMiwtMC4xNDY2MiAwLjE1MTI3LC0wLjEx%0D%0AMzc0IC00LjMxOTcsMi42Mzc1NiAtOC42MDM3NSw1LjMzMjQgLTEyLjgyODE1LDguMTIwMzcgLTIu%0D%0AMTgyMjQsMS40MjAwNCAtNS43MjQwMywzLjc1OTEgLTcuNDc4NjcsNC41MzAxOCAtMC4yNTQyMyww%0D%0ALjExMTcyIC0wLjU1MDY2LC0wLjM3ODE2IC0wLjUxNjQyLC0wLjY1Mzc0IDAuMDM0MywtMC4yNzYw%0D%0AOSAwLjQ0MDc4LC0wLjMzOTU5IDAuNjYwOTgsLTAuNTA5NjIgMS4yMDc3NiwtMC45MzI1NCAwLjc2%0D%0AOTc3LC0wLjU5Mzc0IDIuMTM0MDIsLTEuNjU5NjMgNS4zMDIwOCwtMy44ODMxMiAxMC42NDA1Miwt%0D%0ANy43MTcyMSAxNi4wNTM4MiwtMTEuNDQ0MjMgOC4xODE3LC01LjYwOTQyIDE2LjQxNjE3LC0xMS4x%0D%0ANTU2NSAyNC44ODU4NSwtMTYuMzIzMTEgNC44NDQwNCwtMy4wNTAyNSA5LjY4Mjk2LC01LjkxNzIz%0D%0AIDE0LjY1NDM4LC04Ljc3OTEgMC43MDc0OSwtMC40MDcyNyAyLjgxNjE2LC0xLjY0OTU4IDIuMTM1%0D%0AMzMsLTEuMTk5MTcgLTMuNjY0NywyLjQyNDQgLTQuNjE0OTEsMS4xNjQ4MyAtMy4wMzkyMywyLjY4%0D%0AODExIC0yLjgzMDU2LDEuMjkzNDMgLTUuNjUyODksMi42MDIyNSAtOC40NTM3NiwzLjk1OTQ5IC02%0D%0ALjE4NDQzLDIuODY2NTcgLTEyLjM5Mjc1LDUuNjg5MDMgLTE4Ljc5MTk4LDguMDUyNDYgLTcuNjAx%0D%0AOTMsMi45MDUyIC0xNS4yMzEyNiw1Ljc4MjQ0IC0yMy4wNjM1OSw4LjAxMzkgLTQuOTMyNjIsMS4z%0D%0ANDU0OSAtOS44NjUzOSwyLjcxODAxIC0xNC44NjcwNiwzLjc4NjAzIDAsMCA0LjQ3MTA3LC0zLjM3%0D%0AMjkyIDQuNDcxMDcsLTMuMzcyOTIgeiIKICAgICAgIGlua3NjYXBlOmNvbm5lY3Rvci1jdXJ2YXR1%0D%0AcmU9IjAiIC8+CiAgPC9nPgo8L3N2Zz4K)

![](./readthedocs.png)

# How to make sprints beginner-friendly: (Some Opinions)™️

## Require first-time sprint contributions to be docs. 1/4

1. Docs contributions don't break the codebase: less intimidating.
1. Docs contributions enforce familiarity with the library.
1. Everybody is treated equally, without regard to experience.

Don't reject any docs PR based on size.

## Celebrate every merged PR! 2/4

Announce the merged contribution to the large group!

1. Keeps everybody motivated, enhances the tangible feel of progress being made.
1. If too disruptive, batch PRs and announce less frequently, but not less emphatically!

## Encourage sharing the load 3/4

Some sprinters are either:

1. Naturally more adept, or 
1. Carry prior experience.

Let them mentor those who encounter issues.

## Don't compromise on code standards 4/4

1. Good standards helps level up beginner coders!
1. Guide newcomers on how to write code that conforms to your standards.
1. Leverage your CI system to ensure code style and test coverage are maintained.

# Lesson 2: Languages don't have to be at war

## The R package `janitor` is the original

![](./twitter-wars.png)

## Good ideas can, and should, be shared

# Other `pyjanitor` features

## Domain-specific submodules

### Bioinformatics-oriented

In [84]:

sequences = (
    pd.read_csv(here() / "tests/test_data/sequences.tsv", sep="\t")
    .clean_names(strip_underscores=True)
    .remove_empty()
    .select_columns(["sequence_accession"])
    .join_fasta(
        here() / "tests/test_data/sequences.fasta", 
        id_col="sequence_accession", 
        column_name="sequence"
    )
)
sequences.head(5)

  sequence_accession                                           sequence
0           HM628693  MKTIIALSYILCLVFAQKLPGNDNSTATLCLGHHAVPNGTIVKTIT...
1           HM628694  MKTIIALSYILCLVFAQKLPGNDNSTATLCLGHHAVPNGTIVKTIT...
2           KT889256  MKTIIALSYILCLVFAQKIPGNDNSTATLCLGHHAVPNGTIVKTIT...
3           KC882982  MKTIIALSYILCLVFAQKLPGNDNSTATLCLGHHAVPNGTIVKTIT...
4           KT841229  MKTIIALSYILCLVFAQKLPENDNSTATLCLGHHAVPNGTIVKTIT...

### Cheminformatics-oriented

In [72]:

smiles = (
    pd.read_csv(here() / "tests/test_data/corrected_smiles.txt", sep="\t", header=None)
    .remove_empty()
    # Freely mix-and-match pandas and pyjanitor.
    .rename({0: "id", 1: "smiles"}, axis="columns")
    .smiles2mol(smiles_column_name="smiles", mols_column_name="mols")
)
smiles.head(5)

,id,smiles,mols
0,TR000,ClC(Cl)Cl,<rdkit.Chem.rdchem.Mol object at 0x1a24150a80>
1,TR001,C12(Cl)C3(Cl)C(=O)C4(Cl)C1(Cl)C5(Cl)C(Cl)(Cl)C...,<rdkit.Chem.rdchem.Mol object at 0x1a24150f30>
2,TR002,C(Cl)=C(Cl)Cl,<rdkit.Chem.rdchem.Mol object at 0x1a24150c10>
3,TR003,CC(Cl)(Cl)Cl,<rdkit.Chem.rdchem.Mol object at 0x1a26703120>
4,TR004,S=P(OC)(OC)SCC(=O)NC,<rdkit.Chem.rdchem.Mol object at 0x1a267030d0>

In [61]:
morgans = smiles.morgan_fingerprint(mols_column_name="mols")
morgans.head(5)

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# We can do more!

Come sprint with us :)

## We want...

- Other labelled ndarray (`xarray`/`dask`/`vaex`) integrations!
- Domain-specific tools
- Your useful functions
- Improved documentation & examples
- Your simple or fantastical ideas!

# Office Hours

- Today, 3:30 pm-5:00 pm
- Tomorrow, 2:00 pm-5:00 pm

Tejas room.

# With Thanks

@szuckerman
@zbarry
@JoshuaC3
@HectorM14
@zsailer
@cduvallet
@shantanuo
@jcvall
@CWen001
@bhallaY
@jekwatt
@kurtispinkney
@lphk92
@jonnybazookatone
@SorenFrohlich
@dave-frazzetto
@dsouzadaniel
@Eidhagen
@mdini
@kimt33
@jack-kessler-88
@NapsterInBlue
@jk3587
@ricky-lim
@catherinedevlin
@StephenSchroed
@Rajat-181
@dendrondal